/* start Main Rule*/
body{
    background-color:white;
    height:4000px;
}

.container{
    width:1170px;
    margin:auto;
    /*to horizontaly center the element wihin the container The element will then take up the specified width, and the remaining space will be split equally between the left and right margins: */
}

.header{


}

.slider{
    height:600px;
    background:pink;
    background-image:url("../images/slider.jpg");
    -webkit-background-size:cover;
    /*css3*/
    -moz-background-size:cover;
    /*css3*/
    -o-background-size:cover;
    /*css3*/
    background-size:cover;
    /*css3*/
}

.navbar{
    background:gray;
    color:white;
    overflow:hidden;
    height:44px;
}

.header .navbar h2{
    float:left;
    text-transform:uppercase;
    /*to transform all chars to capital*/
    margin:9px;
}

.header .navbar h2 span{
    color:#33BA75;
}

.header .navbar ul{
    list-style:none;
    padding-left:0;
    overflow:hidden;
    float:right;

}

.header .navbar ul li {
    float:left;
    padding-left:15px;
}

.header .navbar ul li a {
    color:#FFF;
    text-decoration:none;
}

.header .navbar ul li.active a,
.header .navbar ul li a:hover {
    color:#2F9E69;

}





/* End Main Rule*/
/*clear fix after float*/
.clear-fix{
    clear:both;
}



/*start features*/
.features {
    overflow:hidden;
    padding-top:50px;
    padding-bottom:50px;

}


.features .feat {
    float:left;
    width:33.33333%;
    height:150px;
    overflow:hidden;
}

.features .feat h3{
    font-size:20px;
    font-weight:bold;
}

.features .feat p{
    line-height:1.7;
    color:#555;
    text-align:justify;
    padding:0 20px 0 0;

}



/*End  features*/

/*start about-me*/

.about-me{
    background:#F2F2F2;
    overflow:hidden;

}

.about-me .image{
    float:left;
    width:40%;
}

.about-me .image img{
    width:100%;
}

.about-me .info{
    float:left;
    width:60%;
}


.about-me .info .hobbies{
    overflow:hidden;
    margin:20px;
}

.about-me .info .hobbies >div{
    float:left;
    width:50%;
    min-height:100px;

}


.about-me .info h2{
    margin:40px 0 20px 40px;

}

.about-me .info .hobbies h3{
    padding: 0 0 0 35px;

}


.about-me .info> p{
    margin:0 0 10px 40px;
}

.about-me .info> p:last-of-type{
    margin:20px  0 10px 40px;
    color:red;

}

.about-me .info p{
    line-height:1.7;
    color:#777;
}



.about-me .info .hobbies .content {
    width:50%;
    overflow:hidden;

}

.about-me .info .hobbies .content .icon{
    width:12%;
    float:left;

}


.about-me .info .hobbies .content .icon img{
    width:100%;
}


.about-me .info .hobbies .content .text{
    width:88%;
    float:left;

}

/*end about-me*/
/*end about-me*/

/*start of my-skills*/

.my-skills{
    padding-top:30px;
    padding-bottom:30px;
    overflow:hidden;

}

.my-skills .skills,
.my-skills .progress
{
    width:50%;
    float:left;
}

.my-skills .skills p{
     line-height:1.7;
    color:#777;
padding:7px;
}

.my-skills .skills h3{
     margin-left:10px;
}

.my-skills .progress div {
    background: #F2F2F2;
    width:315px;
    height:18px;
    margin-bottom:30px;
}

.my-skills .progress div span {
display:block;
background:green;
height:18px;
line-height:18px;
text-align:right;
}

.my-skills .skills button{
    color:black;
    margin-top:20px;
}
/*End  of my-skills*/

/*start testimonials */
.resume,
.testimonials{

    background-color:#F2F2F2;
    padding-top:30px;
    padding-bottom:30px;
    text-align:center;

}
.testimonials q{
   line-height:1.7;
    color:#777;
padding:7px;
margin-bottom:15px;
font-size:18px;
font-style:italic;
font-weight:bold;
  
     
}
.testimonials  ul{
     list-style:none;
     text-align:center;
     margin-top:10px;
}

.testimonials  ul li{
    height:10px;
    width:10px;
    background:#FFF;
    display:inline-block;
    border:3px solid green;
    cursor:pointer;

}

.testimonials  ul li.active{
    background:green;
}

.testimonials  ul li:hover{
    background:green;}
    /*End testimonials */
    /*start Resume */
.resume h2{
     margin-bottom:20px;
}
.resume button{
    color:black;
     width:150px;
     margin-top:20px;
     margin-bottom:50px;
}

/*End  Resume */

/*start my-eduction*/
.my-eduction{
    overflow:hidden;

}

.my-eduction .main,
.my-eduction .exp {
    width:50%;
    float:left;
    

}
.my-eduction .main p:first-of-type{
     line-height:1.7;
    color:#777;
padding:7px;
margin-bottom:15px;
}
.my-eduction .main p{
     line-height:1.7;
    color:#777;
padding:7px;
}


 .my-eduction .main h3{
     margin-left:10px;
}

.my-eduction .exp h3{
    text-transform:uppercase;
   color: #868B8E;
}
.my-eduction .exp span:first-of-type{
 display:block;
 color:#A8A8A8;
 margin-top:10px;
}  
.my-eduction .exp span:last-of-type{
 display:inline-block;
 color:#f2f2f2;
 margin-top:12px;
 border:3px solid green;
 width:41px;
 padding:3px;
 background:green;
 margin-bottom:15px;
 
}  
.some_ex_container{
    margin-top: 26px;
}
.my-eduction .exp .some_ex_container hr{
    color:#E2E2E2;
}
.my-eduction .exp .some_ex_container p {
    margin-top:15px;
    line-height:1.7;
    color:#777;
padding:7px;

}
/*End my-eduction*/
/*start portfolio*/
.portfolio{
    padding-top:30px;
    padding-bottom:30px;
    text-align:center;

}

.portfolio .our-work {
    overflow:hidden;
}

.portfolio .our-work > div{
    float:left;
    width:350px;
    margin-bottom:15px;
    margin-left:15px;


}

.portfolio .our-work > div img{
    width: 100%;
            padding: 5%;
            background:#FFF;
box-shadow:10px 10px 12px #ccc;
}
.portfolio h2{
     text-transform:uppercase;
     margin-top:30px;
} 

.portfolio p{
margin-top:30px;
margin-bottom:30px;
}
/*End portfolio*/


/*End my-eduction*/













/*End  testimonials*/
/*start contac*/
.contact{

    background-color:#252F31;

    overflow:hidden;

}


.contact h2{

    color:#FEFFFF;
    text-transform:uppercase;
    margin-top: 50px;
    margin-bottom: 26px;
    margin-left:10px;


}

.contact p{

   line-height:1.7;
  color:#777;
padding:7px;
margin-bottom:15px;


}

.contact .info{
float: left;
    width: 30%;
    margin-left: 8%;
    margin-top: 50px;
    

}
.contact .form{
    float: left;
    width: 57%;
    margin-left: 5%;
    margin-top: 50px;
    margin-bottom:70px;
}


.contact .info span{
     display: block;
    margin-bottom: 7px;
    margin-left:7px;
}


.contact .form input[type="text"]{
    width:100%;
    height:31px;
    background:#4B5557;
    border:0;
    color:#FFF;
}

.contact .form input[type="submit"]{
border:0;
color:#FFF;
background:#191E22;
padding:10px 20px;
margin-top:25px;
}

.contact .form label{
    display:block;
    margin:10px 0;
}
.contact .form textarea{
width: 100%;
    height: 300px;
    display:block;
 background:#4B5557;
    border:0;
    color:#FFF;

}

/*End  contact*/
/*stat footer*/
.footer{

    background-color:#191E22;

    text-align:center;

    padding-top:20px;

    padding-bottom:20px;


}


.footer ul{
    list-style:none;
}
.footer ul i{
margin:10px;
display:inline-block;
}

.header .slider .intro {

    padding-top:304px;


    color:white;

    height:448px;

    text-align:center;

}


.header .slider .intro h2{

    margin:0 auto;

    font-size:50px;

    width:600px;

    border-top:3px solid #FFF;

    border-bottom:3px solid #FFF;

    padding:5px 0;

}


.header .slider .intro button{

    background:none;

    width:140px;

    margin-top:30px;

    font-size:20px;

    color:white;

    border:3px solid #FFF;

    padding:7px;

    font-weight:normal;

}




/*End  footer*/
/*starting framework*/
.my-button{
background: none;
padding:10px 0 25px 0;
    border: 3px solid #5BD799;
    width: 120px;
    height: 12px;
    cursor:pointer;

}
/*Ending famework*/

/* Remove button padding in Firefox */
button::-moz-focus-inner {
         border:0;
             padding:0;

}


