//variables
/*start font*/
$base-font-size:15px;
$base-font-family:"Segoe UI","Sefoe Wp","Segoe Regular","sans-serif";
$base-font-color:#414040;
/*End font*/

/*start colors*/
$primary-color:#50DAB1;
$secondary-color:#B10D3A;
$light-color:#D5F4AE;
$dark-color:#B4BF06;

/*End colors*/
/*start variables for navbar*/
$nav-height:3em;
/*End variables for navbar*/
