/*
  Templete:  skyApp bootstrap sass Theme
  Author :   Ahmed Fouad
  Version:   0.0.1
*/
/* Base - Base styles, variables, mixins, etc  mean common things in the templete*/
/* start font color*/
/* End font color*/
/* start background colors*/
/* start background colors*/
/* start showcase area*/
/*End showcase area*/
body {
  font-family: "Segoe UI", "Segoe WP", "Segoe Regular", "sans-serif";
  font-size: 15px;
  color: #666666; }

a {
  color: #00aff0; }

/*start add background*/
/*End add background*/
/* start background-size prefixes*/
/* End background-size prefixes*/
/*start add-border*/
/*End add-border*/
/* MoDULES - Individual site components*/
.block, .block-primary, .block-secondary, .block-light, .block-dark {
  padding: 15px;
  margin-bottom: 15px; }
  .block h3, .block-primary h3, .block-secondary h3, .block-light h3, .block-dark h3 {
    margin-top: 0;
    padding-top: 0; }

.block-primary {
  background: #00aff0;
  color: #FFF; }

.block-secondary {
  background: #7fba00;
  color: #FFF; }

.block-light {
  background: #e4eef2;
  color: #666666; }
  .block-light i {
    color: #00aff0; }

.block-dark {
  background: #2b5464;
  color: #FFF; }

.block-border {
  border: 1px solid #cccccc; }

.block-primary-head h3 {
  padding: 15px 5px 15px 10px;
  background: #00aff0;
  color: #FFF;
  margin: 0;
  font-size: 18px; }
.block-primary-head .block-content {
  border: 1px solid #00aff0;
  padding: 10px; }

.btn-primary {
  background: #00aff0;
  color: #FFF;
  border: 2px solid #FFF; }
  .btn-primary:hover {
    background: #008abd;
    border: 2px solid #FFF; }

section {
  padding: 30px 0; }

.extra-pa {
  padding: 80px 0; }

.showcase-section {
  height: 400px;
  background: url("../images/showcase.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }
  .showcase-section h1 {
    color: #00aff0; }

.section-primary, .section-primary-a, .section-primary-b {
  background: #00aff0;
  color: #FFF; }

.section-primary-a {
  border-top: 4px solid #7fba00; }

.section-primary-b {
  border-bottom: 4px solid #7fba00; }

.section-light {
  background: #e4eef2;
  color: #666666; }

.section-dark {
  background: #2b5464;
  color: #FFF; }

/* start list*/
.list, .list-feature {
  margin-bottom: 30px; }

.list-feature {
  padding: 0;
  width: 80%; }
  .list-feature li {
    line-height: 3.6em;
    border-bottom: 1px solid #cccccc; }
    .list-feature li i {
      color: #00aff0;
      font-size: 30px; }

/* End list*/
/*Start Heading*/
.heading-primary, .heading-primary-a {
  color: #00aff0; }

.heading-primary-a {
  border-bottom: 2px solid #00aff0; }

.heading-secondary, .heading-secondary-a {
  color: #7fba00; }

.heading-secondary-a {
  border-bottom: 2px solid #7fba00; }

.heading-light, .heading-light-a {
  color: #e4eef2; }

.heading-light-a {
  border-bottom: 2px solid #e4eef2; }

.heading-dark, .heading-dark-a {
  color: #2b5464; }

.heading-dark-a {
  border-bottom: 2px solid #e4eef2; }

/*End Heading*/
/*start emphasis Text*/
.em-primary {
  color: #00aff0; }

.em-secondary {
  color: #7fba00; }

.em-light {
  color: #e4eef2; }

.em-dark {
  color: #2b5464; }

/*End emphasis Text*/
/* LAYOUTS -page layouts*/
footer {
  background: #2b5464;
  color: #FFF;
  border-top: 4px solid #7fba00;
  min-height: 200px;
  padding: 30px 0;
  z-index: 500; }
  footer li {
    line-height: 1.8em; }
  footer h4 {
    color: #7fba00; }

.navbar {
  width: 90%;
  margin: auto;
  border-right: 1px solid #e7e7e7;
  border-left: 1px solid #e7e7e7;
  border-color: #e7e7e7;
  min-height: 60px;
  background: #FFF;
  margin-bottom: 30px; }
  .navbar a {
    color: #00aff0;
    font-size: 20px;
    padding-bottom: 24px !important;
    letter-spacing: -0.5px;
    padding-top: 20px !important; }

.navbar-nav > .active > a, .navbar-nav > .active > a:hover, .navbar-nav > .active > a:focus {
  background: #00aff0;
  color: #FFF; }

.navbar-nav > li > a:hover, .navbar-nav > li > a:focus {
  background: #7fba00;
  color: #FFF; }

.navbar-toggle {
  background: #00aff0;
  color: #FFF; }

.navbar-toggle > span {
  background: #FFF; }

.navbar-fixed-top .navbar-collapse, .navbar-fixed-bottom .navbar-collapse {
  max-height: none; }

/*# sourceMappingURL=main.css.map */
