//typography

/* start list*/
.list{
    margin-bottom:30px;
}
.list-feature{
    @extend .list;
    padding:0;
    width:80%;
    li{
        line-height:3.6em;
        @include add-border(1px,#cccccc,'bottom');
        i{
            color:$primary-color;
            font-size:30px;
        }
    }
}
/* End list*/

/*Start Heading*/
.heading-primary{
     color:$primary-color;
}
.heading-primary-a{
    @extend .heading-primary;
    @include add-border(2px,$primary-color,'bottom');
}
.heading-secondary{
     color:$secondary-color;
}
.heading-secondary-a{
    @extend .heading-secondary;
    @include add-border(2px,$secondary-color,'bottom');
}
.heading-light{
     color:$light-color;
}
.heading-light-a{
    @extend .heading-light;
    @include add-border(2px,$light-color,'bottom');
}
.heading-dark{
     color:$dark-color;
}
.heading-dark-a{
    @extend .heading-dark;
    @include add-border(2px,$light-color,'bottom');

}
/*End Heading*/

/*start emphasis Text*/
.em-primary{
     color:$primary-color;
}
.em-secondary{
     color:$secondary-color;
}
.em-light{
     color:$light-color;
}
.em-dark{
     color:$dark-color;
}
/*End emphasis Text*/
