
/*start Grobal style*/
*{
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -o-box-sizing:border-box;
    box-sizing:border-box;
    -moz-background-size;
     -o-background-size;
     background-size;

}
body{
}
.container{
    width:1200px;
    margin:auto;
}
/*End  Grobal style*/

/*start nabvar*/
.navbar{
    height:0;
    position:relative;
    z-index:2;
}
.navbar .brand{
    float:left;
     text-transform:uppercase;
     width:55%;
     padding-left:10px;
     color:#FFF;
     margin-top:10px;
}
.navbar .links{
         
    color:#FFF;
    float:left;
    width:45%;
    margin-top:10px
}
.navbar .links ul{
     list-style:none;
}
.navbar .links ul li{
     list-style:none;
     float:left;
     padding:3px 0;
     margin:0 10px;
}
.navbar .links ul li a{
    text-decoration:none;
    color:#FFF;
     
}
.navbar .links ul li.active{
    border-bottom:2px solid #00C99A;
    color:#00C99A;
}
.navbar .links ul li a:hover{
    color:#00C99A;
    cursor:pointer;
}
/*End  nabvar*/
/*start header*/
.header{
    background:url("../images/header3.jpg");
     position:relative !important;
     background-size:cover;
     
}
.header .overlay{
    background:rgba(0,0,0,0.5);
     position:absolute;
     top:0;
     bottom:0;
     right:0;
     left:0;
     width:100%;
     height:100%;
     z-index:1;
}

.bxslider li h2{
    text-transform:uppercase;
}
.bxslider li span{
     color:#00C99A;
     text-transform:uppercase;
}
.bxslider li p{
    color:#FFF;
}
/* start bx slider configuration */

.header .bx-wrapper {
    height:100%;
}
.header .bx-wrapper .bx-viewport{
    box-shadow:none;
    border:0;
    background:none;
    height:100% !important;
    text-align:center;
}
.header .bxslider{     /*means ul*/
     height:100%;
}
.header .bxslider li{
     display:block;
     height:150px;
}

.header .bxslider li h2{
    color:#FFF;
}
 
/* End  bx slider configuration*/

/* End  header*/
/* start services*/
.services
{
}
.services h2 ,.ourteam h2{
    padding:15px;
    font-weight:normal;
    font-size: 18px;
}
.services .item {
    float:left;
    width:33.33%;
    margin-bottom:10px;
     
}
.services .item  i{
    float: left;
    width: 10%;
    margin-left: 4%;
    margin-right: 16%;
    color: #50DAB1;
   }
   .services .item p{
        font-weight:normal;
        font-size:15px;
        color:#8a8282;
   }
.services .item  .info{
     float:left;
     width:58%;
}
.services .item  .info h3{
    font-weight:normal; 
}
/* End  services*/
/*start our team */
.ourteam{
     overflow:hidden;
}
.ourteam .box{
    float:left;
        margin-right:10px;
        position:relative;

}

.ourteam .box p{
    color:#988f8f;
}
.ourteam .box:not(:first-child) .overlay{
     position:absolute;
     top:0;
     bottom:0;
     right:0;
     left:0;
     background:rgba(0,0,0,0.6);
     color:#FFF;
     line-height:11;
     text-align:center;
     display:none;
     

}

.ourteam .box:not(:first-child):hover .overlay{
    display:block;
}


.ourteam .box:first-child {
width: 35%;
}
.
.ourteam .box:not(:first-child){
    width:16.25%;
    
}

.ourteam .box img:hover{
    
}
/*End  our team */
/*start testmonials */
.testmonials{
    background:url("../images/clients/01.jpg");
    height:300px;
    margin-top: 69px;
    position:relative;
}
.testmonials .overlay{
     position:absolute;
     top:0;
     bottom:0;
     right:0;
     left:0;
     width:100%;
     height:100%;
     background:rgba(0,0,0,.8);
     text-align:center;
     padding:50px;
     color:#FFF;
}
.testmonials .overlay h3{
    color:#FDFDFD;
    margin-bottom:75px;
    position:relative;
}

.testmonials .overlay h3:after{
content:"";
display:block;
width:58px;
position:absolute;
top:34px;
left:509px;
border-bottom:2px solid #b10d3a;

}

.testmonials .overlay q{
    color:#BBBAC0;
    display:inline-block;
    width:747px;
    line-height:1.7;
}

.testmonials .overlay span{
     display:inline-block;
     width:100%;
     margin-top:31px;
     color:#0BC396;
}

.testmonials .overlay .slider > div {
    display:none;
}

.testmonials .overlay .slider .active{
    display:block;}
/*End  testmonials */
 /*start portfolio*/
    .portfolio{
margin-bottom:101px;
    }
    .portfolio h2{}
    .portfolio ul{
        list-style:none;
        margin-top:75px;
    }
    .portfolio ul li{
         display:inline-block;
         border:2px solid #C3C3C3;
         padding:15px;
         margin-right:5px;
         color:#D2D2D2;
    }
    .portfolio ul li.active{
        border:2px solid #94DEC9;
        background:#94DEC9;
        color:#FEFFFD;
    }
    .portfolio ul li:hover{
         background:pink;
         color:#FFF;
         cursor:pointer;

    }
    .portfolio .gallery{
         overflow:hidden;
    }
    .portfolio .gallery .row > div{
         float:left;
         width:33.333%;
         margin-top:10px;
         margin-bottom:20px;
    }
    .portfolio .container{
    }
.portfolio #Container .mix{
	display: none;
}
    
 /*End  portfolio*/
    /*start footer*/
    .footer{
        background:#282828;
        height:700px;
        margin:0;
        width:100%;
        padding:50px;
        overflow:hidden;
    }
    .footer .col{
        float:left;
         width:25%;
         color:#FFF;
         margin:0;
    }
    .footer .col h2{
         margin-bottom:30px;
         font-weight:normal;
    }
    .footer .about-classic p{
     line-height: 1.4;
    font-weight: normal;
    font-size: 14px;
    margin-bottom: 54px;
     color: #9A9A9A;
    }
    .footer .col .icons{
    }
    .footer .col .icons i{
         display:inline-block;
         border:2px solid #9A9A9A;
         padding:10px;
         margin-right:10px;
         width:44px;
         color: #9A9A9A;
    }
    .footer .col h3{
    font-size:15px;
    font-weight:normal;
    margin-top:56px;
    margin-bottom:54px;
    }

    .footer  .tags h2{
         margin-bottom:30px;
         font-weight:normal;
         margin-left:35px;
    }
    .footer .col ul {
    list-style:none;
    }
    .footer .col ul  li{
    display:inline-block;
    border:2px solid  #9A9A9A;
     color: #9A9A9A;
     padding:10px;
     text-transform:uppercase;
     margin-bottom:20px;

    }

    .footer .posts  {
    }
    .footer .posts h2 {
        margin-left:35px;
        font-weight:normal;
        margin-bottom:30px;
    }
    .footer .posts .post {
         margin-left:38px;
         margin-bottom:20px;
         overflow:hidden;
    }
    
    .footer .posts .post img{
         float:left;
    }
    .footer .posts .post  p{
         float:left;
         width:60%;
         margin:4%;        
         color:#D3D3D3;

    }
    .footer .posts .post  span{
        display:block;
         float:left;
         margin-left:5%;
         margin-top:0;
        color: #9A9A9A;
    }
    .footer  .cat ul{
        list-style:none;
         
    }
    .footer  .cat ul li{
        display:block;
        border:0;
        border-bottom:2px solid #9A9A9A;
        text-transform:none;
    }
    /*End  footer*/

/*start my framework*/
.clearfix{
     clear:both;
}
.specificheading{
     position:relative;
}
.specificheading:after{
    content:"";
    display:block;
    width:30px;
    position:absolute;
    top:40px;
    border-bottom:2px solid #333;
}
.separator{
     display:block;
     margin:78px 0;
     border-bottom:1px solid #b4bf06;
}
/*End my framework*/
